<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Ana Sayfa</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Teachers" asp-action="Index">Öğretmenler</a>
</li>
