@*<div class=""> @await Html.PartialAsync("_TopMenuPartial")</div>*@

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="d-flex align-items-center">
            
            <div class="site-logo">
                <a href="index.html" class="d-block">
                    <img src="~/images/logo.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            
            <div class="ml-auto">
                
                    <a asp-area="" asp-controller="Home" asp-action="GetAllAdverts" class="small mr-3">
                        <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">İlanlar</span>
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a class="small mr-3" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Paneli</a>
                        }
                        if (User.IsInRole("Ogretmen"))
                        {
                            <a class="small mr-3" asp-area="" asp-controller="Advert" asp-action="Index" asp-route-id="@User.Identity.Name">İlanlarım</a>
                        }

                        <a asp-area="" asp-controller="Cart" asp-action="Index" class="small mr-3">

                            <i class="fa fa-shopping-cart"></i><span > Sepetim</span>
                        </a>
                        <a asp-area="" asp-controller="Account" asp-action="Manage" asp-route-id="@User.Identity.Name"
                           class="small mr-3">
                            <i class="fa fa-user"></i><span >Hesabım</span>
                        </a>
                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="small">
                            <i class="fa fa-user"></i><span > Çıkış Yap</span>
                        </a>
                    }
                    else
                    {



                        <a asp-area="" asp-controller="Account" asp-action="Login" class="small mr-3">
                            <i class="fa fa-user"></i><span > Giriş Yap</span>
                        </a>
                        <a asp-area="" asp-controller="Account" asp-action="TeacherRegister"  class="small btn btn-primary px-4 py-2 rounded">
                            <i class="fa fa-user" ></i><span > Öğretmen Kayıt Ol</span>
                        </a>
                        <a asp-area="" asp-controller="Account" asp-action="StudentRegister" class="small btn btn-primary px-4 py-2">
                        <i class="fa fa-user"></i><span> Öğrenci Kayıt Ol</span>
                        </a>

                    }
                <div class="social-wrap">
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
                        <span class="icon-menu h3">

                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>

</header>