<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>


<div class="py-2 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a>
                <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span> 10 20 123 456</a>
                <a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span> info@mydomain.com</a>
            </div>
            <div class="col-lg-6 text-right">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a class="small mr-3" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Paneli</a>
                    }
                    if (User.IsInRole("Ogretmen"))
                    {
                        <a class="small mr-3" asp-area="" asp-controller="Advert" asp-action="Index" asp-route-id="@User.Identity.Name">İlanlarım</a>
                    }
                    <a href="" class="small mr-3">
                        <i class="fa fa-heart"></i><span class="ms-2 d-none d-sm-inline-block">Listem</span>
                    </a>
                    <a asp-area="" asp-controller="Cart" asp-action="Index" class="small mr-3">

                        <i class="fa fa-shopping-cart"></i><span class="ms-2 d-none d-sm-inline-block">Sepetim</span>
                    </a>
                    <a asp-area="" asp-controller="Account" asp-action="Manage" asp-route-id="@User.Identity.Name"
                       class="small mr-3">
                        <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Hesabım</span>
                    </a>
                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="small">
                        <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Çıkış Yap</span>
                    </a>
                }
                else
                {
                   


                    <a asp-area="" asp-controller="Account" asp-action="Login" class="small mr-3">
                        <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Giriş Yap</span>
                    </a>
                    <a asp-area="" asp-controller="Account" asp-action="TeacherRegister" class="small btn btn-primary px-4 py-2 rounded-0">
                        <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Öğretmen Kayıt Ol</span>
                    </a>
                    <a asp-area="" asp-controller="Account" asp-action="StudentRegister" class="small btn btn-primary px-4 py-2 rounded-0">
                        <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Öğrenci Kayıt Ol</span>
                    </a>

                }
                
               

            </div>
        </div>
    </div>
</div>