@model List<TeacherModel>

@{
    ViewData["Title"] = "Ana Sayfa";
    List<TeacherModel> teachers = Model;
}

<div class="container mt-5">
    @await Html.PartialAsync("_AboutPartial")
    @*@await Component.InvokeAsync("Branches")*@
    @await Html.PartialAsync("_CarouselPartial")
    @*@await Html.PartialAsync("_CoursesPartial",teachers)   *@
    @*ilanların listelenceği kısım*@
    @*@await Html.PartialAsync("_FactsPartial")*@
</div>


